<nav class="navbar bg-body-tertiary">
    <div class="container-fluid justify-content-center justify-content-md-between">
    
      <a class=" fw-medium navbar-brand fs-4 mb-1 mb-md-0">
        
        Gestion des incidents</a>
      <form action="/search" method="post" class="d-flex" role="search">
        <input
        name="searchText"
        class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
    </div>
  </nav>